.dialog-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;

    .header-dialog {
        font-size: 24px;
        font-weight: 500;
    }
}
